*.userprefs
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.sass-cache/
.ntvs_analysis.dat

node_modules/

.fake/

build/
**/obj/
**/bin/
**/out/
**/.idea/
*.tmp.md
.vs/

*.zip
**/dist/*
*.map
**/Client*/**/*.js